
a {
	color: inherit;
	text-decoration: none;
}
input,
button {
	background: none;
	border: none;
	font: inherit;
}

input {
	width: 100%;
}

button {
	cursor: pointer;
}

address {
	font-style: normal;
}

html {
	font-family: var(--ff-poppins);
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	background-color: var(--white);
	color: var(--gray-web);
	font-size: 1.6rem;
	line-height: 1.75;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.right{
    display: flex;
    justify-content: center;
    align-items: center;


}
.navbar-logo{
    border-radius: 50%;
  
}
.left{
    display: flex;
    justify-content: space-around;
    margin-right: 70px;
}
.btn-1{

    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;;
    font-weight: bold;
}
.btn-2{
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}
.btn-3{
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-4{
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-5{
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.main{
    background-color: #f4f4ec;
    height: 600px;
}
.ul{
    list-style-type: none;
}
.price{
    background: #f90D53;
    color:#fff;
    border-radius: 10px;
    margin: 30px 0 0 0;
    padding: 20px 0 20px 0;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.price h5{
    text-align: center;
    padding-top: 50px;
}

.price ul{
    list-style-type: none;
    margin: 0;
    padding: 0 0 50px 0;
}
.price li{
    text-align: center;
    padding: 5px;
    margin: 0;
}
.price:hover{
    padding-top: 40px;

}
.table-col{
    padding: 0;
    margin: 0;
}
.featured{
    background: #fff;
    color: #f90D53;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) ;
}
.featured ul{
    padding: 0 0 120px 0 ;
}
.Destinations{
    background-color: #f4f4ec;
}
.cards .card .content .img{
    height: 130px;
    width: 130px;
    margin-bottom: 14px;
    background: hsl(170, 75%, 41%);
    padding: 3px;
    border-radius: 50%;
}
.main-container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
}
.main-container .main-card{
    width: 200%;
    display: flex;
    justify-content: center;
    transition: all 1s ease;
}
#two:checked~ .main-card{
    margin-left: -100%;
}
.main-card .cards{
    width: calc(100/2-10px);
   display: flex;
   justify-content: space-around;
   margin: 0 20px;
    
}
.main-card .cards .card{
    background: #fff;
    width: calc(100%/3-10px);
    padding: 30px;
    border-radius: 24px;
    transition: all 0.4s ease;
}
.main-card .cards .card:hover{
    transform: translateY(-15px);
}
.cards .card .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card .content .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fff;
}
.card .content .details .name{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.card .content .media-icons{
    display: flex;
}
.card .content .media-icons button{
    background-color: hsl(170, 75%, 41%);
    color: #fff;
    border: 2px solid transparent;
    font-size: 14px;
    transition: all 0.4s ease;
}
.content .media-icons button:hover{
    border-color: hsl(170, 75%, 41%);
    color: hsl(170, 75%, 41%);
    background: hsl(170, 75%, 41%);

}
.button{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.button label{
    height: 15px;
    width: 15px;
    background: #fff;
    margin: 0 4px;
    border-radius: 20px;
    transition: all 0.5s ease;
}
.button label.active{
    width: 35px;
}
#one:checked ~ .button.label.one{
    width: 35px;
}
#two:checked ~ .button label.two{
    width: 35px;
}
#two:checked ~ .button label.one{
    width: 15px;
}
#one:checked ~ .button label.two{
    width: 15px;
}
input[type="radio"]{
    display: none;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px;
}
.slide-content{

    margin:0 40px ;
    overflow: hidden;
    border: 25px;
}
.card-slider{
    border-radius: 25px;
    background-color: #fff;

}
.image-content,.slider-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;

}
.overlay{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}
.overlay::before,.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color:#4070F4;
}
.overlay::after{
    border-radius: 0,25px,0,0;
    background-color: #fff;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;

}
.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
}
.name{
    font-size:18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.slider-btn{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color:#4070F4 ;
    border-radius: 6px;
    margin: 14px;
    cursor:pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background: #265DF2;

}
.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before,.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;

}
.swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #4070F4;
}
.tracker{
    display: grid;
    place-items: center;
}
.slider-infinite{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px*18);
    animation: scroll 40s linear infinite;
}
.slide-track:hover{
    animation-play-state:paused ;

}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*9));
    }
    
}
.slide-infinite{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.track-img{
    width: 100%;
    transition: transform 1s;
}
.track-img:hover{
    transform: translateZ(20px);
}
.slider-infinite::before,
.slide-infinite::after{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,
    rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider-infinite::before{
    left: 0;
    top: 0;
}
.slider-infinite::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.testimonials{
    background-color: red;
    display: block;
    color: #fff;
}
